* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: rgb(240, 243, 246);
}

body {
  background-color: #0a0c10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 4px;
}

details {
  justify-self: end;
}

summary {
  line-height: 24px;
  margin-bottom: 8px;
  font-size: 12px;
}

summary:hover {
  color: rgb(113, 183, 255);
}

details-menu {
  width: 100%;
  position: absolute;
  padding: 1rem;
  top: 30px;
  left: -32px;
  background-color: #0a0c10;
  border-radius: 6px;
}

#audio-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  --thumb-color: #272b33;
  background-color: #0a0c10;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 11px;
  border-radius: 4px;
  outline: 1px solid rgba(240, 243, 246, 0.5);
  opacity: 1;
  padding: 2px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none; /* Override default look */
  width: 11px;
  height: 11px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: none;
  cursor: pointer; /* Cursor on hover */
  display: inline-block;
  background-color: var(--thumb-color);
}

.slider::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none; /* Override default look */
  width: 11px;
  height: 11px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: none;
  text-align: center;
  cursor: pointer; /* Cursor on hover */
  background-color: var(--thumb-color);
}

#mute {
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
}

#mute:hover {
  font-size: 3rem;
}

.box {
  width: 11px;
  height: 11px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
  outline-offset: -1px;
  overflow-wrap: break-word;
  shape-rendering: geometricprecision;
  text-align: center;
  background-color: #272b33;
}

.muted {
  background-color: #0a0c10;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 1em;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container {
  font-size: 14px;
  line-height: 21px;
  width: fit-content;
}

.container details {
  box-sizing: border-box;
  display: block;
  float: right;
  font-size: 14px;
  line-height: 21px;
  margin-top: 4px;
  overflow-wrap: break-word;
  position: relative;
}

.contrib {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0px;
  overflow-wrap: break-word;
}

.display {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  line-height: 21px;
  overflow-wrap: break-word;
  outline: 1px solid rgba(240, 243, 246, 0.5);
  padding: 8px;
  margin-top: -2px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.learn {
  justify-self: start;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.learn:hover {
  color: rgb(113, 183, 255);
}

.bot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8px;
  margin-right: 8px;
}

.bot div {
  justify-self: end;
}

/* An attempt to make it responsive enough to be played on a phone */

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .container {
    font-size: 14px;
    line-height: 21px;
    outline: none;
    width: fit-content;
  }

  .display {
    outline: none;
  }

  .box {
    width: 6px;
    height: 6px;
  }

  .contrib {
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
  }

  summary {
    font-size: 10px;
    line-height: 18px;
    padding: 10px;
  }

  table {
    border-spacing: 3px;
  }

  .muted {
    height: 100%;
    width: 100%;
    opacity: 0.2;
  }
}
